In [1]:
import numpy as np

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import pandas as pd
from us_state_abbrev import abbrev_to_us_state as un_abbrev
from flask import Flask, jsonify, render_template

In [2]:
#################################################
# Database Setup 
#################################################

engine = create_engine("sqlite:///ufo.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(autoload_with=engine)

In [3]:
# Save references to the tables
geo = Base.classes.state_geo
Ufos = Base.classes.ufo_sightings

In [ ]:
#app = Flask(__name__)

In [ ]:
@app.route("/api/v1.0/map_info")
def map_info():
     # Open session
    session = Session(engine)

    #queries
    state_info=session.query(geo.state,geo.population,geo.geometry).all()
    ufo_info=session.query(Ufos.state).count()

In [4]:
session = Session(engine)
ufo_info=session.query(Ufos.state).count()

56984

In [32]:
session = Session(engine)
state_info=session.query(geo.state,geo.population,geo.geometry).all()
info=list(np.ravel(state_info[0]))
sightings=session.query(Ufos).filter(Ufos.state==info[0]).count()
feature_dict={"properties":{}}
properties=feature_dict["properties"]
feature_dict["id"]=1
properties["name"]=info[0]
properties["population"]=int(info[1])
properties["sightings"]=sightings
properties["per_capita"]=sightings/int(info[1])
properties["geometry"]=eval(info[2])
feature_dict

{'properties': {'name': 'AL',
  'population': 5039877,
  'sightings': 1350,
  'per_capita': 0.00026786368000647633,
  'geometry': {'type': 'Polygon',
   'coordinates': [[[-87.359296, 35.00118],
     [-85.606675, 34.984749],
     [-85.431413, 34.124869],
     [-85.184951, 32.859696],
     [-85.069935, 32.580372],
     [-84.960397, 32.421541],
     [-85.004212, 32.322956],
     [-84.889196, 32.262709],
     [-85.058981, 32.13674],
     [-85.053504, 32.01077],
     [-85.141136, 31.840985],
     [-85.042551, 31.539753],
     [-85.113751, 31.27686],
     [-85.004212, 31.003013],
     [-85.497137, 30.997536],
     [-87.600282, 30.997536],
     [-87.633143, 30.86609],
     [-87.408589, 30.674397],
     [-87.446927, 30.510088],
     [-87.37025, 30.427934],
     [-87.518128, 30.280057],
     [-87.655051, 30.247195],
     [-87.90699, 30.411504],
     [-87.934375, 30.657966],
     [-88.011052, 30.685351],
     [-88.10416, 30.499135],
     [-88.137022, 30.318396],
     [-88.394438, 30.367688],
     [-88.471115, 31.895754],
     [-88.241084, 33.796253],
     [-88.098683, 34.891641],
     [-88.202745, 34.995703],
     [-87.359296, 35.00118]]]}},
 'id': 1}

In [33]:
session = Session(engine)
state_info=session.query(geo.state,geo.population,geo.geometry).all()
geoJson={"type":"FeatureCollection",
            "features":[]}
for i in range(len(state_info)):
    info=list(np.ravel(state_info[i]))
    sightings=session.query(Ufos).filter(Ufos.state==info[0]).count()
    feature_dict={"properties":{}}
    properties=feature_dict["properties"]
    feature_dict["id"]=i+1
    properties["name"]=info[0]
    properties["proper_name"]=un_abbrev[info[0]]
    properties["population"]=info[1]
    properties["sightings"]=session.query(Ufos).filter(Ufos.state==info[0]).count()
    properties["per_capita"]=sightings/int(info[1])
    properties["geometry"]=eval(info[2])
    geoJson["features"].append(feature_dict)

In [22]:
state_info=session.query(geo.state,geo.population,geo.geometry).all()
geoJson={"type":"FeatureCollection",
             "features":[]}
#loop through states
for i in range(len(state_info)):
    #unravel tuples
    info=list(np.ravel(state_info[i]))
    if info[0] != "PR":
        #count sightings in the state of this paricular row
        sightings=session.query(Ufos).filter(Ufos.state==info[0]).count()
        #(almost) blank dictionary for the feature
        feature_dict={"type":"Feature",
                        "properties":{}}
        feature_dict["id"]=i+1
        properties=feature_dict["properties"]
        properties["name"]=info[0]
        properties["proper_name"]=un_abbrev[info[0]]
        properties["population"]=info[1]
        properties["sightings"]=session.query(Ufos).filter(Ufos.state==info[0]).count()
        properties["per_capita"]=(sightings/int(info[1]))*100000
        properties["geometry"]=eval(info[2])
        geoJson["features"].append(feature_dict)

In [23]:
sight_list=[]
percap_list=[]
name_list=[]
for feature in geoJson["features"]:
    properties=feature["properties"]
    sight=properties["sightings"]
    per_cap=properties["per_capita"]
    _name=properties["name"]
    sight_list.append(sight)
    percap_list.append(per_cap)
    name_list.append(_name)

In [24]:
map_data_df=pd.DataFrame({"state":name_list,"sightings":sight_list,"per_capita":percap_list})
map_data_df

   state  sightings  per_capita
0     AL        675   13.393184
1     AK        291   39.717582
2     AZ       2141   29.424231
3     AR        541   17.879031
4     CA       5996   15.281169
5     CO       1622   27.907446
6     CT       1013   28.095209
7     DE        209   20.829513
8     DC         38    5.671219
9     FL       4096   18.805270
10    GA       1317   12.194935
11    HI        336   23.308196
12    ID        809   42.558273
13    IL       1430   11.285195
14    IN       1206   17.719698
15    IA        497   15.564914
16    KS        484   16.492979
17    KY        712   15.789261
18    LA        493   10.661656
19    ME        538   39.205770
20    MD        906   14.695556
21    MA       1290   18.468878
22    MI       1417   14.098365
23    MN        982   17.205763
24    MS        312   10.576397
25    MO       1089   17.655107
26    MT        456   41.294211
27    NE        243   12.374649
28    NV        699   22.232888
29    NH        649   46.724531
30    NJ       1310   14.135984
31    NM        788   37.242240
32    NY       2362   11.907695
33    NC       1728   16.377343
34    ND        116   14.968746
35    OH       2027   17.207106
36    OK        649   16.279377
37    OR       1639   38.599627
38    PA       2374   18.312170
39    RI        298   27.199460
40    SC       1185   22.829269
41    SD        172   19.209807
42    TN       1054   15.110639
43    TX       2067    7.000149
44    UT        760   22.768295
45    VT        320   49.568598
46    VA       1328   15.366326
47    WA       2636   34.062604
48    WV        393   22.042010
49    WI       1110   18.826617
50    WY        181   31.271434

In [28]:
map_data_df['sights_bin'] = pd.qcut(map_data_df['sightings'], q=8)
map_data_df['percap_bin'] = pd.qcut(map_data_df['per_capita'], q=8)
map_data_df['sights_bin'].value_counts().sort_index()

(37.999, 292.75]     7
(292.75, 470.0]      6
(470.0, 649.0]       7
(649.0, 809.0]       6
(809.0, 1128.75]     6
(1128.75, 1372.5]    6
(1372.5, 2057.0]     6
(2057.0, 5996.0]     7
Name: sights_bin, dtype: int64

In [29]:
map_data_df['percap_bin'].value_counts().sort_index()

(5.67, 12.24]       7
(12.24, 15.04]      6
(15.04, 16.353]     6
(16.353, 17.879]    7
(17.879, 21.133]    6
(21.133, 27.553]    6
(27.553, 38.26]     6
(38.26, 49.569]     7
Name: percap_bin, dtype: int64