In [1]:
#Dependencies
import json
import requests
import pandas as pd
#import state to postal dictionary
from us_state_abbrev import us_state_to_abbrev as abbrev

In [2]:
#set url
url="https://api.census.gov/data/2021/pep/population?get=NAME,POP_2021&for=state:*"

In [3]:
#make request, get response
response=requests.get(url)
data=response.json()
print(json.dumps(data, indent=4, sort_keys=True))

[
    [
        "NAME",
        "POP_2021",
        "state"
    ],
    [
        "Oklahoma",
        "3986639",
        "40"
    ],
    [
        "Nebraska",
        "1963692",
        "31"
    ],
    [
        "Hawaii",
        "1441553",
        "15"
    ],
    [
        "South Dakota",
        "895376",
        "46"
    ],
    [
        "Tennessee",
        "6975218",
        "47"
    ],
    [
        "Nevada",
        "3143991",
        "32"
    ],
    [
        "New Mexico",
        "2115877",
        "35"
    ],
    [
        "Iowa",
        "3193079",
        "19"
    ],
    [
        "Kansas",
        "2934582",
        "20"
    ],
    [
        "District of Columbia",
        "670050",
        "11"
    ],
    [
        "Texas",
        "29527941",
        "48"
    ],
    [
        "Missouri",
        "6168187",
        "29"
    ],
    [
        "Arkansas",
        "3025891",
        "05"
    ],
    [
        "Michigan",
        "10050811",
        "26"
    ],
    [
        "New Hampshire",
        "1388992",
        "33"
    ],
    [
        "North Carolina",
        "10551162",
        "37"
    ],
    [
        "Ohio",
        "11780017",
        "39"
    ],
    [
        "South Carolina",
        "5190705",
        "45"
    ],
    [
        "Wyoming",
        "578803",
        "56"
    ],
    [
        "California",
        "39237836",
        "06"
    ],
    [
        "North Dakota",
        "774948",
        "38"
    ],
    [
        "Louisiana",
        "4624047",
        "22"
    ],
    [
        "Maryland",
        "6165129",
        "24"
    ],
    [
        "Delaware",
        "1003384",
        "10"
    ],
    [
        "Pennsylvania",
        "12964056",
        "42"
    ],
    [
        "Georgia",
        "10799566",
        "13"
    ],
    [
        "Oregon",
        "4246155",
        "41"
    ],
    [
        "Minnesota",
        "5707390",
        "27"
    ],
    [
        "Colorado",
        "5812069",
        "08"
    ],
    [
        "New Jersey",
        "9267130",
        "34"
    ],
    [
        "Kentucky",
        "4509394",
        "21"
    ],
    [
        "Washington",
        "7738692",
        "53"
    ],
    [
        "Maine",
        "1372247",
        "23"
    ],
    [
        "Vermont",
        "645570",
        "50"
    ],
    [
        "Idaho",
        "1900923",
        "16"
    ],
    [
        "Indiana",
        "6805985",
        "18"
    ],
    [
        "Montana",
        "1104271",
        "30"
    ],
    [
        "New York",
        "19835913",
        "36"
    ],
    [
        "Puerto Rico",
        "3263584",
        "72"
    ],
    [
        "Connecticut",
        "3605597",
        "09"
    ],
    [
        "Florida",
        "21781128",
        "12"
    ],
    [
        "Virginia",
        "8642274",
        "51"
    ],
    [
        "Massachusetts",
        "6984723",
        "25"
    ],
    [
        "Illinois",
        "12671469",
        "17"
    ],
    [
        "Mississippi",
        "2949965",
        "28"
    ],
    [
        "Arizona",
        "7276316",
        "04"
    ],
    [
        "Utah",
        "3337975",
        "49"
    ],
    [
        "Wisconsin",
        "5895908",
        "55"
    ],
    [
        "Alabama",
        "5039877",
        "01"
    ],
    [
        "West Virginia",
        "1782959",
        "54"
    ],
    [
        "Rhode Island",
        "1095610",
        "44"
    ],
    [
        "Alaska",
        "732673",
        "02"
    ]
]

In [4]:
#loop through data elements, replace long form state names with Postal abbreviations:
for i in data:
    if i[0] != "NAME":
        i[0]=abbrev[i[0]]
print(json.dumps(data, indent=4, sort_keys=True))

[
    [
        "NAME",
        "POP_2021",
        "state"
    ],
    [
        "OK",
        "3986639",
        "40"
    ],
    [
        "NE",
        "1963692",
        "31"
    ],
    [
        "HI",
        "1441553",
        "15"
    ],
    [
        "SD",
        "895376",
        "46"
    ],
    [
        "TN",
        "6975218",
        "47"
    ],
    [
        "NV",
        "3143991",
        "32"
    ],
    [
        "NM",
        "2115877",
        "35"
    ],
    [
        "IA",
        "3193079",
        "19"
    ],
    [
        "KS",
        "2934582",
        "20"
    ],
    [
        "DC",
        "670050",
        "11"
    ],
    [
        "TX",
        "29527941",
        "48"
    ],
    [
        "MO",
        "6168187",
        "29"
    ],
    [
        "AR",
        "3025891",
        "05"
    ],
    [
        "MI",
        "10050811",
        "26"
    ],
    [
        "NH",
        "1388992",
        "33"
    ],
    [
        "NC",
        "10551162",
        "37"
    ],
    [
        "OH",
        "11780017",
        "39"
    ],
    [
        "SC",
        "5190705",
        "45"
    ],
    [
        "WY",
        "578803",
        "56"
    ],
    [
        "CA",
        "39237836",
        "06"
    ],
    [
        "ND",
        "774948",
        "38"
    ],
    [
        "LA",
        "4624047",
        "22"
    ],
    [
        "MD",
        "6165129",
        "24"
    ],
    [
        "DE",
        "1003384",
        "10"
    ],
    [
        "PA",
        "12964056",
        "42"
    ],
    [
        "GA",
        "10799566",
        "13"
    ],
    [
        "OR",
        "4246155",
        "41"
    ],
    [
        "MN",
        "5707390",
        "27"
    ],
    [
        "CO",
        "5812069",
        "08"
    ],
    [
        "NJ",
        "9267130",
        "34"
    ],
    [
        "KY",
        "4509394",
        "21"
    ],
    [
        "WA",
        "7738692",
        "53"
    ],
    [
        "ME",
        "1372247",
        "23"
    ],
    [
        "VT",
        "645570",
        "50"
    ],
    [
        "ID",
        "1900923",
        "16"
    ],
    [
        "IN",
        "6805985",
        "18"
    ],
    [
        "MT",
        "1104271",
        "30"
    ],
    [
        "NY",
        "19835913",
        "36"
    ],
    [
        "PR",
        "3263584",
        "72"
    ],
    [
        "CT",
        "3605597",
        "09"
    ],
    [
        "FL",
        "21781128",
        "12"
    ],
    [
        "VA",
        "8642274",
        "51"
    ],
    [
        "MA",
        "6984723",
        "25"
    ],
    [
        "IL",
        "12671469",
        "17"
    ],
    [
        "MS",
        "2949965",
        "28"
    ],
    [
        "AZ",
        "7276316",
        "04"
    ],
    [
        "UT",
        "3337975",
        "49"
    ],
    [
        "WI",
        "5895908",
        "55"
    ],
    [
        "AL",
        "5039877",
        "01"
    ],
    [
        "WV",
        "1782959",
        "54"
    ],
    [
        "RI",
        "1095610",
        "44"
    ],
    [
        "AK",
        "732673",
        "02"
    ]
]

In [5]:
#convert list of lists into DataFrame
df=pd.DataFrame(data, columns=data[0])
#drop duplicate header row and extraneous census state info
df.drop(index=0,columns='state',inplace=True)
df.head()

  NAME POP_2021
1   OK  3986639
2   NE  1963692
3   HI  1441553
4   SD   895376
5   TN  6975218

In [6]:
#export CSV
df.to_csv(f"output_csv/STATE_POP.csv", index=False)