In [49]:
import json 
import pandas as pd
#import state to postal dictionary
from us_state_abbrev import us_state_to_abbrev as abbrev

In [50]:
#load local geoJSON data
with open('us-states.json') as data:
    state_data = json.load(data)

#load census population info
state_pop_df=pd.read_csv('output_csv/STATE_POP.csv')

In [39]:
state_pop_df.head()

  NAME  POP_2021
0   OK   3986639
1   NE   1963692
2   HI   1441553
3   SD    895376
4   TN   6975218

In [51]:
#set index for easier use
state_pop_df.set_index('NAME', inplace=True)
#convert to dictionary to access info
state_pop_dict=state_pop_df.to_dict()
#remove root key
state_pop_dict=state_pop_dict['POP_2021']

In [41]:
state_pop_dict

{'OK': 3986639,
 'NE': 1963692,
 'HI': 1441553,
 'SD': 895376,
 'TN': 6975218,
 'NV': 3143991,
 'NM': 2115877,
 'IA': 3193079,
 'KS': 2934582,
 'DC': 670050,
 'TX': 29527941,
 'MO': 6168187,
 'AR': 3025891,
 'MI': 10050811,
 'NH': 1388992,
 'NC': 10551162,
 'OH': 11780017,
 'SC': 5190705,
 'WY': 578803,
 'CA': 39237836,
 'ND': 774948,
 'LA': 4624047,
 'MD': 6165129,
 'DE': 1003384,
 'PA': 12964056,
 'GA': 10799566,
 'OR': 4246155,
 'MN': 5707390,
 'CO': 5812069,
 'NJ': 9267130,
 'KY': 4509394,
 'WA': 7738692,
 'ME': 1372247,
 'VT': 645570,
 'ID': 1900923,
 'IN': 6805985,
 'MT': 1104271,
 'NY': 19835913,
 'PR': 3263584,
 'CT': 3605597,
 'FL': 21781128,
 'VA': 8642274,
 'MA': 6984723,
 'IL': 12671469,
 'MS': 2949965,
 'AZ': 7276316,
 'UT': 3337975,
 'WI': 5895908,
 'AL': 5039877,
 'WV': 1782959,
 'RI': 1095610,
 'AK': 732673}

In [52]:
#isolate features
features=state_data["features"]

In [53]:
#loop through the features
geo_df=pd.DataFrame(columns=['State', 'Population', 'Geometry'])
for feature in features:
    state_abbrev=""
    population=""
    geometry=""
    #isolate properties of each feature
    properties=feature["properties"]
    #get state names with postal abbreviations to match ufo data
    state_abbrev=abbrev[properties['name']]
    #use the postal ids to find the population
    population=state_pop_dict[state_abbrev]
    #simply copy the existing geometry
    geometry=feature['geometry']
    #append to dataframe
    geo_df.loc[len(geo_df.index)] = [state_abbrev,population,geometry]

In [46]:
features[0]["geometry"]

{'type': 'Polygon',
 'coordinates': [[[-87.359296, 35.00118],
   [-85.606675, 34.984749],
   [-85.431413, 34.124869],
   [-85.184951, 32.859696],
   [-85.069935, 32.580372],
   [-84.960397, 32.421541],
   [-85.004212, 32.322956],
   [-84.889196, 32.262709],
   [-85.058981, 32.13674],
   [-85.053504, 32.01077],
   [-85.141136, 31.840985],
   [-85.042551, 31.539753],
   [-85.113751, 31.27686],
   [-85.004212, 31.003013],
   [-85.497137, 30.997536],
   [-87.600282, 30.997536],
   [-87.633143, 30.86609],
   [-87.408589, 30.674397],
   [-87.446927, 30.510088],
   [-87.37025, 30.427934],
   [-87.518128, 30.280057],
   [-87.655051, 30.247195],
   [-87.90699, 30.411504],
   [-87.934375, 30.657966],
   [-88.011052, 30.685351],
   [-88.10416, 30.499135],
   [-88.137022, 30.318396],
   [-88.394438, 30.367688],
   [-88.471115, 31.895754],
   [-88.241084, 33.796253],
   [-88.098683, 34.891641],
   [-88.202745, 34.995703],
   [-87.359296, 35.00118]]]}

In [57]:
geo_df.to_csv(f"output_csv/GEOMETRY.csv",index=False)